body {
    margin: 0;
    background-color: #FFFFFF;
}

img {
    max-width: 100%;
    max-height: 100%;

}

h4 {
    color: #ffbd0b;
}
.hidden_div {
    display: none;
    visibility: hidden;
    /*background: #FFB48A;*/
    height: 600px;
    padding: 0;
    margin: 0;
}



/*top section*/
.movie_title {
    border-radius: 0;
    height: 70px;
    margin: auto;
    color: #FFFAFA;
    background: #333333;
}

#title {
    /*padding-left: 3em;*/
    font-size: xx-large;
}


#movie_graphics {
    height: 400px;
    width: 100%;


}
    #movie_image {
        align-items: center;
        float: left;
        width: 18%;
        height: 100%;

    }
    #movie_trailer {
        margin: auto;
        padding: 0;
        float: right;
        width: 82%;
        height: 100%;
    }
/*end of top section*/


/*navigation bar*/
#content_navigation {
    background: #333333 ;
}

#nav_header {
    margin: 10px;
}
/*end of navigation bar*/


/*overview*/
#overview {
    font-family: Helvetica, sans-serif;
}

#actor_image {
    box-shadow: 3px 3px 18px 3px rgba(90, 90, 90, 1);
    margin-top: 20px;

}
#actor-info {
    padding-top: 20px;
    padding-left: 30px;
}

#more_details {
    margin-top: 30px;
}

#movie_summary {
    float: right;
    width: 50%;
    margin-top: 20px;

}
/*end of overview*/


/*cast list*/
#cast_list {
    width: 100%;
}

.odd {
    background-color: #fbfbfb;
    border: #fff 1px solid;
}

.even {
    background-color: #f6f6f5;
    border: #fff 1px solid;
}

td {
    padding: 15px 6px 15px 6px;
    display: table-cell;
}
tr {
    display: table-row;
}

/*end of cast list*/


/*footer*/
#validator_button {
    margin-bottom: 1.5em;
}

/*end of footer*/